# Required packages  for synapse
tornado==4.5.2
cryptography==2.1.3
pyOpenSSL==17.3.0
msgpack-python==0.4.8
xxhash==1.0.1
lmdb==0.93
# Delayed import
psycopg2==2.7.3.2
# Dynmod loaded by link
paramiko==2.3.1
# Code style checks
pycodestyle==2.3.1
# Test related packages
coverage==4.3.4 # pyup: ignore
codecov==2.0.9
pytest==3.2.3
pytest-cov==2.5.1
pytest-xdist==1.20.1
# Legacy test packages - nose is included but no longer used by Synapse.
nose==1.3.7
